.page-managent {
    .page-managent-header {
        height: 56px;
    }

    .page-managent-body {
        width: 100%;
        .page-manager-block-search {
            padding: 23px 26.9px 36px 25px;
            background-color: #F1F4F6;
            border-radius: 8px;
        }
    }
}